.navbar-list-item{
    font-size: 15px;
    font-weight: 500;
    padding: 0 3px; 
}

.navbar-list-item a:hover{
    border: "1px solid blueviolet";
}

.button{
    padding: 0px 20px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 8px;
    width: 80%;
    
}

